In [199]:
import pandas as pd
from sqlalchemy import create_engine

## Here we retrived the data from this website:

https://www.census.gov/data/tables/time-series/demo/income-poverty/cps-pov/pov-01.html

In [200]:
csv_file = "race.csv"
race_data_df = pd.read_csv(csv_file)
race_data_df.head()

,All Races Below 100%,All income levels,Below 100% of poverty (5),Percentage below 100% of poverty (6),All income levels.1,Below 100% of poverty (5).1,Percentage below 100% of poverty (6).1,All income levels.2,Below 100% of poverty (5).2,Percentage below 100% of poverty (6).2,All income levels.3,Below 100% of poverty (5).3,Percentage below 100% of poverty (6).3
0,Total (1),"322,549","39,698",12.3,"260,709","26,766",10.3,"1,054",339,32.2,"60,786","12,593",20.7
1,..Under 18 years,"73,356","12,808",17.5,"72,685","12,476",17.2,514,193,37.5,156,139,88.9
2,....Under 5 years (1),"19,750","3,865",19.6,"19,660","3,827",19.5,90,39,43.0,(N/A),(N/A),(X)
3,....5 to 17 years,"53,606","8,942",16.7,"53,025","8,649",16.3,424,154,36.3,156,139,88.9
4,..18 to 64 years,"198,113","22,209",11.2,"153,082","12,405",8.1,511,142,27.8,"44,520","9,662",21.7

In [201]:
race_data_df.columns

race_data_df = race_data_df.rename(columns={'All Races \n Below 100%': 'Age_Range', 'All \n income \n levels': 'Income_Range'})

race_data_df.head()

,Age_Range,Income_Range,Below 100% of poverty (5),Percentage below 100% of poverty (6),All income levels.1,Below 100% of poverty (5).1,Percentage below 100% of poverty (6).1,All income levels.2,Below 100% of poverty (5).2,Percentage below 100% of poverty (6).2,All income levels.3,Below 100% of poverty (5).3,Percentage below 100% of poverty (6).3
0,Total (1),"322,549","39,698",12.3,"260,709","26,766",10.3,"1,054",339,32.2,"60,786","12,593",20.7
1,..Under 18 years,"73,356","12,808",17.5,"72,685","12,476",17.2,514,193,37.5,156,139,88.9
2,....Under 5 years (1),"19,750","3,865",19.6,"19,660","3,827",19.5,90,39,43.0,(N/A),(N/A),(X)
3,....5 to 17 years,"53,606","8,942",16.7,"53,025","8,649",16.3,424,154,36.3,156,139,88.9
4,..18 to 64 years,"198,113","22,209",11.2,"153,082","12,405",8.1,511,142,27.8,"44,520","9,662",21.7

## Here we retrieved the data from this website:

https://deathpenaltyinfo.org/2017-sentencing

In [213]:
csv_file = "execution_data.csv"
execution_data_df = pd.read_csv(csv_file)
execution_data_df.head()

execution_data_df.head()

,Date,Name,Age,Sex,Race,Number / Race / Sex of Victims,State,Region,Method,Juvenile,Federal,Volunteer,Foreign National,County
0,1/10/86,James Roach,25,m,White,1 White Male(s)1 White Female(s),SC,S,Electrocution,Yes,No,No,No,Richland
1,1/11/85,Joseph Shaw,29,m,White,1 White Male(s)1 White Female(s),SC,S,Electrocution,No,No,No,No,Richland
2,1/8/97,Paul Ruiz,49,m,Latino,2 White Male(s),AR,S,Lethal Injection,No,No,No,No,Logan
3,1/8/97,Earl Van Denton,47,m,White,2 White Male(s),AR,S,Lethal Injection,No,No,No,No,Nevada
4,1/6/94,Keith Wells,31,m,White,1 White Male(s)1 White Female(s),ID,W,Lethal Injection,No,No,Yes,No,Ada

## Renaming the data to combine

In [216]:
def renaming_stuff(x):
    if x == '....18 to 24 years':
        return 'between 18 to 24'
    elif x == '....25 to 34 years':
        return 'between 25 to 34'
    elif x == '....35 to 44 years':
        return 'between 36 to 44'
    elif x == "....45 to 54 years":
        return 'between 46 to 54'
    elif x == "....55 to 59 years":
        return 'between 56 to 59'
    elif x == "....60 to 64 years":
        return 'between 61 to 64'
    elif x == "....65 to 74 years":
        return 'between 66 to 74'
    else:
        return None

race_data_df = race_data_df[["Age_Range", "Income_Range"]].copy()
race_data_df['newname'] = race_data_df['Age_Range'].apply(renaming_stuff)
race_data_df

#dropped first 5 row based on index due to being 18 years and under
race_data_df.drop(df.index[:5], inplace=True)
race_data_df

KeyError: '[0 1 2 3 4] not found in axis'

In [204]:
execution_data_df[["Date", "Name", "Age", "Sex", "Race"]].head()

      Date             Name  Age Sex    Race
0  1/10/86      James Roach   25   m   White
1  1/11/85      Joseph Shaw   29   m   White
2   1/8/97        Paul Ruiz   49   m  Latino
3   1/8/97  Earl Van Denton   47   m   White
4   1/6/94      Keith Wells   31   m   White

In [205]:
df = execution_data_df[["Date", "Name", "Age", "Sex", "Race"]].copy()

## Removing Null Values

In [217]:
 df = df.dropna()

In [218]:
df.Age.dtypes

dtype('int64')

In [219]:
def renaming_stuff2(x):
    if x <= 24:
        return 'between 18 to 24'
    elif x > 24 and x <= 34:
        return 'between 25 to 34'
    elif x > 34 and x <= 44:
        return 'between 36 to 44'
    elif x > 44 and x <= 54
        return 'between 45 to 54'
    elif x > 54 and x <= 59
        return 'between 56 to 59'
    elif x > 59 and x <= 64
        return 'between 61 to 64'
    elif x > 64 and x <= 74
        return 'between 66 to 74'
    else:
        return None

df['newname'] = df['Age'].apply(renaming_stuff2)

SyntaxError: invalid syntax (<ipython-input-219-24edf3ce30b3>, line 8)

In [220]:
df['newname'].value_counts()

KeyError: 'newname'

In [221]:
df_merged = pd.merge(df, race_data_df, on=['newname'])
df_merged_copy = df_merged[['Date', 'Name', 'Age', 'Sex', 'Race', 'newname', 'Income_Range']].copy()

KeyError: 'newname'

In [211]:
df_merged_copy.dropna(inplace=True)

In [212]:
df_merged_copy.to_csv('cleaned.csv')

In [ ]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float, ForeignKey
from sqlalchemy.orm import sessionmaker, relationship

In [ ]:
# Create Engine
engine = create_engine("mysql+pymysql://root:Biscuit2428!@127.0.0.1:3306/PROJECT2", pool_recycle=3600)

In [ ]:
# Declare a Base object here
Base = declarative_base()

In [ ]:
#Definding ORM class for `Measurements` table
class Prisoners(Base):
    
    __tablename__ = 'Prisoners'

    id = Column(Integer, primary_key=True)
    Date = Column(Text)
    Name = Column(Text)
    Age = Column(Integer)
    Sex = Column(Text)
    Race = Column(Text)
    newname = Column(Text)
    Income_Range = Column(Text)
    def __repr__(self):
        return f"id={self.id}, name={self.prisoner}"
    
# Date            object
# Name            object
# Age              int64
# Sex             object
# Race            object
# newname         object
# Income_Range    object

In [ ]:
# Creating the tables using the 'engine'
Base.metadata.create_all(engine)

In [ ]:
# Verify that the table names exist in the database
engine.table_names()

In [ ]:
df_of_data_to_insert = pd.read_csv('cleaned.csv')

conn = engine.connect()

#changing data into dictionary
data = df_of_data_to_insert.to_dict(orient='records')


#pointing to my table
my_table = Prisoners.__table__


#adding data to the database
conn.execute(my_table.insert(), data)